services:
  postgres:
    image: postgres:16
    container_name: justaquotedb
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: justaquotedb
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/:/docker-entrypoint-initdb.d:ro

  redis:
    image: redis:7
    container_name: justaquote-redis
    restart: unless-stopped
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  db-data:
  redis-data:
